.mainContainer{
  height: 100%;
}

.firstRollContainer{
  max-width: 1120px;
  height: 480px;
  margin: .5rem auto;
  display: flex;
  margin-top: 2rem;

  .cardContent1{
    height: 480px;
    width: 240px;
    display: flex;
    padding: 1rem;

    .cardToken{
      height: 100%;
      width: 100%;
      border-radius: 1rem;
      background-color: var(--header);
      display: flex;
      flex-direction: column;

      .middleCard{
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: baseline;
        flex-direction: column;
  
        a{
          margin: 0rem auto;
          height: 100%;
          width: auto;
        }
      }

      
      .baseCard{
        height: 300px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: baseline;
        flex-direction: column;
        text-align: center;
        margin: 0rem auto;
        word-wrap: break-word;
        
        h4{
          line-height: 1rem;
          color: white;
          margin-top: .5rem;
          margin-bottom: -1rem;

          span{
            line-height: .5rem;
            color: white;
            font-weight: 400;
          }
        }

        p{
          margin-top: .1rem;
          font-size: 1rem;
          line-height: 1.2rem;

          span{
            color: white;
            font-size: .8rem;
          }
        }

        svg{
          width: .8rem;
          margin-left: auto;
          margin-top: -2.4rem;
          margin-right: -.7rem;
          cursor: pointer;
        }
        
      }
    }    
  }
  
  .cardContent2{
    height: 480px;
    width: 880px;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .content{
      height: 80px;
      width: 100%;
      display: flex;
      margin-bottom: 1rem;

      .cardAddress{
        height: 100%;
        width: 70%;
        margin-right: 1rem;        

        .uniqueCard{
          background-color: var(--header);
          width: 100%;
          height: 2.5rem;
          border-radius: .5rem;
          display: flex;
          align-items: center;
          justify-content: center;

          h4{
            color: white;
            font-weight: normal;
            font-size: 1rem;
            text-align: left;
            padding: .5rem;
            padding-left: 1rem;
  
            span{
              font-size: .8rem;
              margin-left: .5rem;
              color: var(--border);
              cursor: pointer;
              font-weight: normal;
            }
          }

          svg{
            width: 1rem;
            margin-left: auto;
            margin-right: 4rem;
            cursor: pointer;
          }
        }
        
        
      }

      .cardNet{
        height: 100%;
        width: 30%;
        margin-left: 1rem;

        .uniqueCard{
          width: 100%;
          height: 2.5rem;
          display: flex;
          align-items: center;
          justify-content: center;

          img{
            height: 2.5rem;
            width: auto;
            padding: .2rem;
            cursor: pointer;
          }

          h2{
            margin-top: .1rem;
            margin-right: 1rem;
            margin-left: 1rem;
          }
        }
      }
    }

    .content2{
      height: 580px;
      margin-top: 1rem;
      width: 100%;
      display: flex;

      .cardWallets{
        height: 100%;
        width: 50%;
        margin-right: 1rem;
        border-radius: 1rem;
        background: url("../../public/images/fundo.png") 100% 100% no-repeat;


        .middleCard{
          width: 100%;
          height: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: -2.5rem;

          svg{
            width: 2rem;
            height: auto;
            margin-left: 2rem;
          }

          span{
            height: 1.5rem;
            color: var(--gray);
            font-size: 1rem;
            margin-left: .5rem;
          }
        }

        .baseCard{
          margin-left: 2.5rem;
          font-size: 1.5rem;
          margin-top: -1rem;
        }
      }

      .cardHolders{
        height: 100%;
        width: 50%;
        margin-left: 1rem;
        border-radius: 1rem;
        background-color: var(--header);
        display: flex;
        flex-direction: column;

        .middleCard{
          height: 2rem;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          svg{
            width: 1.5rem;
            height: auto;
            margin-right: 1rem;
          }

          p{
            width: 1rem;
            line-height: 2rem;
            font-weight: 600;
            text-align: right;
            margin-right: 5rem;
          }
        }

        .GraphCard{
          height: 12rem;
          width: 100%;
          display: flex;
        }

        .baseCard{
          height: 2rem;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          svg{
            width: 1.5rem;
            height: auto;
            margin-left: 3.8rem;
          }

          p{
            width: 1rem;
            line-height: 2rem;
            font-weight: 600;
            text-align: left;
            margin-left: 1.5rem;
          }
        }
      }
    }
  }
}

.topCard{
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  
  h3{
    width: 99%;
    font-weight: normal;
    font-size: 1.2rem;
    text-align: left;
    margin: 1.5rem;
    margin-right: 1rem;
  }

  p{
    width: 1%;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1rem;
    margin-left: 1rem;
    margin-right: .2rem;
    writing-mode: vertical-rl;
    cursor: pointer;

    abbr{
      color: var(--header);
    }
  }
}

.underTopCard{
  margin-left: 1.5rem;
  margin-top: -1rem;
  height: 1rem;
  width: 100%;

  p{
    font-size: .75rem;
    font-weight: normal;
    color: var(--gray);
  }
}

.secondRollContainer{
  max-width: 1120px;
  height: 460px;
  margin: .5rem auto;
  display: flex;

  .cardContent1{
    height: 460px;
    width: 1120px;
    display: flex;
    padding: 1rem;

    .cardGrowth{
      height: 100%;
      width: 100%;
      border-radius: 1rem;
      background-color: var(--header);

      .GraphCard{
        height: 90%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 7rem;

        p{
          text-align: center;
        }
      }
    }
  }
  
}

.thirdRollContainer{
  max-width: 1120px;
  height: 420px;
  margin: .5rem auto;
  display: flex;

  .cardContent1{
    height: 420px;
    width: 340px;
    display: flex;
    padding: 1rem;

    .cardCategories{
      height: 100%;
      width: 100%;
      border-radius: 1rem;
      background-color: var(--header);

      .underTopCard{
        margin-left: 1.5rem;
        margin-top: -1rem;
        height: 1rem;
        width: 100%;
      
        p{
          height: 2rem;
          margin-left: -.6rem;
          width: 90%;
          padding-left: .5rem;
          padding-top: .35rem;
          font-size: .75rem;
          font-weight: normal;
          color: var(--gray);
          background-color: var(--back);
          border-radius: .5rem;
        }
      }

      .listCard{
        height: 2rem;
        width: 100%;
        margin: 1.5rem;
        margin-top: 2rem;

        ul{
          height: 100%;
          width: 100%;

          p{
            word-spacing: 30px;
            font-size: .75rem;
            font-weight: normal;
            color: var(--gray);
          }

          li{
            width: 87%;
            height: 1rem;
            display: flex;
            margin-top: .3rem;

            p{
              width: 2rem;
              font-size: .9rem;
              word-spacing: .5px;
              white-space: nowrap;
              text-align: left;
            }

            h4{
              font-size: .9rem;
              font-weight: normal;
              color: var(--gray);
              text-align: center;
              margin-left: -3rem;
            }

            span{
              font-size: .9rem;
              font-weight: normal;
              color: var(--gray);
              text-align: right;
            }

            img{
              margin-left: -1rem;
              margin-top: .15rem;
              margin-right: .5rem;
              height: 15px;
              width: auto;
            }
          }
        }
      }
    }
  }

  .cardContent2{
    height: 420px;
    width: 430px;
    display: flex;
    padding: 1rem;

    .cardCatGraph{
      height: 100%;
      width: 100%;
      border-radius: 1rem;
      background-color: var(--header);

      .GraphCard{
        height: 35%;
        width: 100%;
        margin-top: 1rem;
        display: flex;
      }

      .infoCard{
        height: 33%;
        width: 100%;
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;

        ul{
          height: 100%;
          width: 100%;
          flex-wrap: wrap;

          li{
            width: 20%;
            height: 1rem;
            display: flex;
            margin-top: .3rem;

            p{
              font-size: .9rem;
              font-weight: normal;
              color: var(--gray);
              width: 2rem;
              font-size: .9rem;
              word-spacing: .5px;
              white-space: nowrap;
              text-align: left;
            }

            img{
              height: 15px;
              width: auto;
              margin-left: 3rem;
            }
          }
        }
      }
    }
  }

  .cardContent3{
    height: 420px;
    width: 350px;
    display: flex;
    padding: 1rem;

    .cardRanking{
      height: 100%;
      width: 100%;
      border-radius: 1rem;
      background-color: var(--header);

      .listRankingCard{
        height: 2rem;
        width: 100%;
        margin: 1.5rem;
        margin-top: -1rem;

        ul{
          height: 100%;
          width: 100%;
          

          p{
            word-spacing: 30px;
            font-size: .75rem;
            font-weight: normal;
            color: var(--gray);
            margin-bottom: -1rem;

            span{
              word-spacing: 80px;
            }
          }

          li{
            width: 87%;
            height: 2rem;
            display: flex;
            margin-top: 1rem;

            h4{
              padding-top: .2rem;
              font-size: 1rem;
              font-weight: 500;
              color: var(--back);
              text-align: center;
              margin-left: -1rem;
              background-color: white;
              height: auto;
              margin-left: .2rem;
              width: 7rem;
              border-radius: 50%;
              margin-right: 1.5rem;
            }

            h3{
              padding-top: .2rem;
              font-size: 1rem;
              font-weight: 500;
              color: white;
              text-align: center;
              margin-left: -1.5rem;
            }

            p{
              margin-top: .3rem;
              margin-left: 1.1rem;
              height: 2rem;
              font-size: .9rem;
              text-align: left;
              color: white;
              width: auto;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              cursor: pointer;

              /*&:hover{
                overflow: visible;
              }*/
            }

            span{
              margin-top: .3rem;
              font-size: .9rem;
              font-weight: 500;
              color: white;
              text-align: right;
            }
          }
        }
      }

    }
  }
}

.fourthRollContainer{
  max-width: 1120px;
  height: 620px;
  margin: .5rem auto;
  display: flex;

  .cardWallet1{
    height: 230px;
    width: 230px;
    border-radius: 1rem;
    color: transparent;
    border: 1px solid var(--card);
    display: flex;
    margin: 0 auto;
    flex-direction: column;

    div#wallet1{
      background-color: var(--cardyellow);
    }

    div#wallet2{
      background-color: var(--cardblue);
    }

    div#wallet3{
      background-color: var(--cardpurple);
    }

    .topWallet{
      width: 100%;
      height: 165px;
      background-color: var(--card);
      border-radius: 1rem;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;

      h2{
        font-size: 1rem;
        font-weight: 500;
        color: var(--back);
        text-align: center;
        background-color: white;
        border-radius: 50%;
        height: 2.5rem;
        width: 2.5rem;
        padding-left: .65rem;
        padding-top: .5rem;
        display: flex;

        p{
          font-weight: 600;
          margin-top: -1rem;
          font-size: 1.5rem;
          margin-left:1.5rem;

          span{
            height: 2rem;
            font-weight: 400;
            font-size: .9rem;
            text-align: left;
            color: white;
            width: 142px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: -5.4rem;
          }
        }
      }

      p{
        width: 230px;
        height: 3rem;
        display: flex;

        svg{
          margin-top: 2.2rem;
          margin-left: -.6rem;
          height: 1.5rem;
        }

        span{
          font-size: 1.5rem;
          font-weight: 600;
          margin-top: 2rem;
          margin-right: 2.5rem;
        }
      }

      .middleCard{
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        margin-top: 1.5rem;

        svg{
          width: 2rem;
          height: auto;
          margin-left: 1.5rem;
        }

        span{
          height: 1.5rem;
          color: white;
          font-size: 1rem;
          margin-left: 0rem;
        }
      }
      
    }

    .bottomWallet{
      width: 100%;
      height: 65px;
      padding: 1.5rem;
      margin-top: -2rem;

      h4{
        color: var(--success);
        margin-top: 1.5rem;
        font-weight: 500;
        font-size: 1rem;
      }

      h2{
        font-weight: 500;
        font-size: 1rem;
      }
    }
  }

  .cardContent1{
    height: 620px;
    width: 560px;
    display: flex;
    padding: 1rem;

    .cardBuyers{
      height: 100%;
      width: 100%;
      border-radius: 1rem;
      background-color: var(--header);

      .firtsPlace{
        height: 250px;
        width: 100%;
        display: flex;
        flex-direction: row;
      }
    
      .secondsPlace{
        height: 250px;
        width: 100%;
        display: flex;
        flex-direction: row;
      }
    }

    
  }

  .cardContent2{
    height: 620px;
    width: 560px;
    display: flex;
    padding: 1rem;

    .cardSellers{
      height: 100%;
      width: 100%;
      border-radius: 1rem;
      background-color: var(--header);

      .firtsPlace{
        height: 250px;
        width: 100%;
        display: flex;
        flex-direction: row;
      }
    
      .secondsPlace{
        height: 250px;
        width: 100%;
        display: flex;
        flex-direction: row;
      }
      
      .bottomWallet{
        width: 100%;
        height: 65px;
        padding: 1.5rem;
        margin-top: -2rem;
  
        h4{
          color: var(--error);
          margin-top: 1.5rem;
          font-weight: 500;
          font-size: 1rem;
        }
  
        h2{
          font-weight: 500;
          font-size: 1rem;
        }
      }
      
    }
  }
}

.baseContainer{
  max-width: 1120px;
  height: 2rem;
  margin: 1rem auto;
  text-align: center;

  p{
    font-weight: 500;
    font-size: .8rem;
  }
}