.headerContainer{
  height: 6rem;
  background-color: var(--header);
}

.headerContent{
  max-width: 1120px;
  height: 6rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;

  img{
    padding: .5rem;
    margin-left: 1rem;
    cursor: pointer;
    width: auto;
    height: 6rem;
    transition: all 0.2s;

    &:hover{
      transform: scale(1.1);
    }
  }

  svg#burguer{
    width: 20%;
    height: 2rem;
    margin-left: -1rem;
    margin-right: -1.5rem ;
    margin-top: .1rem;
  }

  h2{
    font-size: 1.5rem;
    padding: .5rem;
    width: 100%;
    height: 50%;
  }
 
  nav{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    padding-left: 12rem;

    a{
      height: 3rem;
      width: 3rem;
      background-color: var(--back);
      border-radius: 1rem;
      border: 3px solid var(--border);
      margin-left: 1.5rem;
      padding: .5rem;
      cursor: pointer;
      transition: all 0.2s;

      &:hover{
        transform: scale(1.1);
      }
    }
  }
}